<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
        <title>NYC APITEST</title>
	</head>
	<body>
	<div class="collapse navbar-collapse" id="nav-toggle">
				<ul class="nav navbar-nav">
				<li><a href="{% url 'passenger:buyTickets' %}">Buy Ticket</a></li>
				<li><a href="{% url 'passenger:paymentMethodManage' %}">Payment Methods</a></li>
				<li><a href="{% url 'passenger:ticketList' %}">View Tickets</a></li>	
				
				</ul>
			</div>
	</body>
	</html>